$princetonOrange: #F28123;
$titaniumYellow: #F0E100;
$englishLavender: #975E7C;
$secondaryEnglishLavender: #B88EA5;
$ghostWhite: #FAFAFF;
$textColor: #525251;

//Header variables
$logoWidth: 175px;

//fonts
//font sizes: 16, 18, 20, 24, 30, 36, 42, 48, 60, 72
$primaryFont: 'Montserrat', sans-serif;

//others
$pageOuterWidthPadding: 5vw;

body {
    padding: 0;
    //background-color: $ghostWhite!important;
    background: linear-gradient(90deg, $ghostWhite 50%, $titaniumYellow 50%);
}

* {
    font-family: $primaryFont;
}

.navbar {
    //background-color: $ghostWhite!important;
    background: linear-gradient(90deg, $ghostWhite 50%, $titaniumYellow 50%);
    padding-left: calc(#{$pageOuterWidthPadding} - 5px);
    padding-right: $pageOuterWidthPadding;
    padding-top: 20px;

    img {
        width: $logoWidth;
    }

    p {
        margin-bottom: 0;
        position: absolute;
        left: 280px;
        font-size: 16px;
        font-weight: 500;
        color: $textColor;
    }
}

.navbar-nav {
    font-size: 20px;
    font-weight: 800;

    li {
        line-height: 1em;
    }

    a {
        color: black!important;
    }

    .active {
        color: $englishLavender!important;
    }

    a:hover {
        color: $secondaryEnglishLavender!important;
    }
}

.container-fluid {
    padding-left: $pageOuterWidthPadding;
    padding-right: $pageOuterWidthPadding;
    margin-top: 60px;

    h1 {
        font-size: 72px;
        font-weight: 700;
        color: $englishLavender;
        margin-bottom: 40px;
    }

    p {
        font-size: 30px;
        font-weight: 500;
    }

    img {
        width: 300px;
        border-radius: 50%;
        box-shadow: 0 8px 6px -6px black;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}
