$princetonOrange: #F28123;
$titaniumYellow: #F0E100;
$englishLavender: #975E7C;
$secondaryEnglishLavender: #B88EA5;
$ghostWhite: #FAFAFF;
$textColor: #525251;

//Header variables
$logoWidth: 175px;

//fonts
//font sizes: 16, 18, 20, 24, 30, 36, 42, 48, 60, 72
$primaryFont: 'Montserrat', sans-serif;



body {
    padding: 0;
    background-color: $ghostWhite!important;
}

* {
    font-family: $primaryFont;
}

.navbar {
    background-color: $ghostWhite!important;
    padding-left: 3vw;
    padding-right: 3vw;

    img {
        width: $logoWidth;
    }

    p {
        margin-bottom: 0;
        position: absolute;
        left: 280px;
        font-size: 16px;
        font-weight: 500;
        color: $textColor;
    }
}

.navbar-nav {
    font-size: 20px;
    font-weight: 800;

    li {
        line-height: 1em;
    }

    a {
        color: black!important;
    }

    .active {
        color: $englishLavender!important;
    }

    a:hover {
        color: $secondaryEnglishLavender!important;
    }
}
